@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");

:root {
  --primary-color: #4d96a9;
  --primary-color-light: #8fe3f9;
  --secondary-color: #855fb1;
  --secondary-color-light: #d9b8ff;

  --dark-color: #28283d;
  --light-color: #fafafa;
  --Gray-color: #87879d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--light-color);
  font-family: "Red Hat Display", sans-serif;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

#header {
  max-width: 1440px;
  margin: 0 auto;
}

.navbar {
  text-align: center;
  padding: 80px 0 61px 0;
  margin: 0 auto;
}

.hero {
  margin: 0 auto 110px auto;
  min-height: 358px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
  overflow-x: hidden;
}

.hero .hero-content {
  width: 540px;
  margin: 47px 88px 0 88px;
  text-align: center;
}

.hero .hero-right {
  transform: translateX(32px);
  margin-top: 55px;
}

.hero .hero-left {
  transform: translateX(-30px);
}

.hero-content h1 {
  font-size: 64px;
  font-weight: 900;
  line-height: 64px;
}

.hero-content p {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: var(--Gray-color);
  margin: 34px 0 32px 0;
}

/* Buttons */

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fafafa;
  padding: 16px 40px;
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
  border-radius: 29px;
  text-decoration: none;
  transition: all 0.5s ease;
}

.btn:hover {
  cursor: pointer;
}


.btn.btn-primary span {
  color: #8FE3F9;
  margin-left: 4px;
}

.btn.btn-primary:hover {
  background: #71C0D4;
}

.btn.btn-secondary:hover {
  background: #B18BDD;
}

.btn.btn-secondary span {
  color: var(--secondary-color-light);
  margin-left: 4px;
}

.btn-secondary {
  background: var(--secondary-color);
  margin-left: 16px;
  z-index: 2;
}

.btn-secondary.small {
  padding: 16px 29px;
}

/* Divider */

.divider {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 64px;
}

#divider-2 {
  position: absolute;
  top: 310px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.divider .line {
  height: 84px;
  width: 1px;
  background-color: rgba(135, 135, 157, 0.25);
}

.divider .circle {
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 50%;
  background: #fafafa;
  color: var(--Gray-color);
  height: 56px;
  width: 56px;
  padding: 15px 19px;
}

/* main-section */

.main-section {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.main-section .gallery {
  display: flex;
  justify-content: space-between;
  gap: 30px;

}

.main-section .content {
  margin: 80px auto 184px auto;
  max-width: 540px;
  position: relative;
}

.main-section .content h3 {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.main-section .content h2 {
  color: var(--dark-color);
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
  margin: 16px 0 32px 0;
  padding: 0 48px;
}
.main-section .content .lead {
  color: var(--Gray-color);
  font-size: 18px;
  font-weight: 500px;
  line-height: 26px;
}

/* Footer */

#footer::before {
  content: "";
  display: block;
  background: url('assets/desktop/image-footer.jpg') no-repeat center
    center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

#footer {
  background-image: url("assets/desktop/image-footer.jpg");
  background: var(--primary-color);
  padding: 116px 165px;
  color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

#footer h2 {
  max-width: 350px;
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
}

#footer p {
  max-width: 350px;
  font-size: 18px;
  font-weight: 500px;
  line-height: 26px;
}

/* Mobile */

@media (max-width: 768px) {
  .hero {
    justify-content: center;
    min-height: 358px;
    min-width: 100%;
    flex-wrap: wrap;
    overflow: visible;
  }

  .hero .hero-left {
    flex: 0 1 50%;
    transform: translateY(0);
    transform: translateX(-26px);
  }

  .hero .hero-right {
    flex: 0 1 50%;
    flex-wrap: nowrap;
    margin-bottom: 72px;
  }

  .hero .hero-content {
    order: 1;
    flex: 1 1 100%;
  }

  .main-section .gallery {
    padding: 0 40px;
  }

  #footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 92px 155px 66px 155px;
    max-height: 308px;
  }

  #footer p {
    margin: 32px 0 40px 0;
  }
}

@media (max-width: 375px) {
  .hero {
    margin-bottom: 64px;
  }

  .hero .hero-content h1 {
    font-size: 40px;
    line-height: 48px;
  }

  .hero .hero-content {
    margin: 0 24px;
    text-align: center;
    justify-content: center;
  }

  .hero .hero-content .btn.small {
    display: block;
    width: 139px;
    margin: 16px auto 0 auto;
  }

  .hero .hero-content .btn.btn-primary {
    display: block;
    max-width: 193px;
    height: 58px;
    margin: 16px auto;
  }

  .main-section .gallery {
    padding: 0 20px;
    flex-wrap: wrap;
  }

  .main-section .gallery img {
    width: 151px;
    height: 143px;
  }

  .main-section .content {
    padding: 0 24px;
  }

  .main-section .content h2 {
    font-size: 30px;
  }

  #divider-2 {
    margin-top: 55px;
  }

  #footer {
    padding: 92px 24px 72px 24px;
    height: 428px;
  }

  #footer p {
    margin-bottom: 32px;
  }

  #footer h2 {
    font-size: 30px;
  }
}
